.homepage-head {
    text-align: center;
    color: rgb(111, 0, 255);   
}

.start-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
    width: 100%;
  }